---
sitetitle: Raquel Vargas - Front-end developer
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/main.css">
  <title>{{ sitetitle }}</title>
</head>
<body class="flex flex-col min-h-screen font-mono">
{% include 'header.njk' %}

<main class="container flex-grow py-8">
{% block content %}

  <h1>{{ title }}</h1>

  {{ content | safe }}

{% endblock %}
</main>
{% include 'footer.njk' %}
</body>
</html>
