<header class="">
  <nav class="" aria-label="Navigation">
<!--{{ collections.all | eleventyNavigation | eleventyNavigationToHtml({listClass: 'nav-links', activeAnchorClass: 'nav-active', activeKey: eleventyNavigation.key}) | safe }}  -->
{% set navPages = collections.all | eleventyNavigation %}

{%- for entry in navPages %}
    <a href="{{ entry.url | url }}" {% if entry.url == page.url %} aria-current="page" {% endif %}>{{ entry.title }}</a>
{%- endfor %}

  </nav>
</header>