<header class="nav">
  <nav class="nav-menu">
    {{ collections.all | eleventyNavigation | eleventyNavigationToHtml({listClass: 'nav-links', activeAnchorClass: 'nav-active', activeKey: eleventyNavigation.key}) | safe }}
  </nav>
</header>