body {
  font-family: $font;
  font-size: 16px;
  color: $color;
  background: $bg;
}

p {
  line-height: 1.5rem;
}

a {
  color: $color;
  text-decoration: none;
  background-image: linear-gradient(90deg, $bg, $bg), linear-gradient(90deg, $underline-color, $underline-color);
  background-size: $underline-block-width $underline-width, 100% $underline-width;
  background-repeat: no-repeat;
  background-position-x: calc($underline-block-width * -1), 0;
  background-position-y: 100%;
  transition: background-position-x $underline-transition;
  font-weight: 700;
}

a:hover {
  background-image: linear-gradient(90deg, $bg, $bg),
    linear-gradient(
      90deg,
      $underline-color-hover,
      $underline-color-hover
    );
  background-position-x: calc(100% + $underline-block-width), 0;
}

h1, h2, h3, h4, h5, h6{
  display: inline-block;
  background: rgba(252,15,81,1);
  background: linear-gradient(90deg, rgba(255,177,55,1) 0%, rgba(255,55,55,1) 20%, rgba(252,15,81,1) 40%, rgba(255,55,212,1) 60%, rgba(177,55,255,1) 80%, rgba(74,130,255,1) 100%); 
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
}

i {
  font-size: 3rem;
}

