$font: 'Cousine', monospace;
$bg: rgb(37, 37, 37);
$color: rgb(255, 255, 255);
$underline-width: 4px;
$underline-block-width: 20px;
$underline-color: rgb(228, 0, 95);
$underline-color-hover: rgb(79, 140, 219);
$underline-transition: 0.5s;
