.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem 2rem;
  justify-content: space-between;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.card {
  background-color: rgb(19, 19, 19);
  border-radius: 5px;
  padding: 5%;
}