---
title: About me
layout: base.njk
eleventyNavigation:
  key: About me
  order: 200
---
  <h1>{{ title }}</h1>

<p>Hey, glad to have you here. I am a born and raised in Rio de Janeiro, Brazi. I have a bachelor's degree in graphic design and worked in the area for around 10 years before dabbling in entrepreneurship.</p>
<p>Along with my sister, I created a digital platform called <a href="https://travellerxpbr.com" target="_blank">Traveller XP</a>, focused on providing experiences for the African diaspora and connecting to local black entrepreneurs and service providers. In 2020, we won first place in <a href="https://www.iniciativajovem.org.br/" target="_blank">Shell Iniciativa Jovem</a>, <a href="https://www.livewire.shell/" target="_blank">Shell LiveWire's</a> local program. Now, I've decided to take a step back and get back on the job search market, now transitioning to tech.</p>
<p>I have been learning to code on my own since 2020 focused on front-end development. I have experience with HTML, CSS, JavaScript, React, VueJS, Git, Scrum. I also have had some contact with Python, Ruby and Java.</p>
