---
title: Contact
layout: base.njk
eleventyNavigation:
  key: Contact
  order: 300
---

<p>Let me know if want to connect and talk about opportunities or have any questions.</p>
<div class="container">
<div class="card">
  <i class="fab fa-github"></i>
<p><a href="https://github.com/vargasraquel">/vargasraquel</a></p>
</div>

<div class="card">
<i class="fab fa-linkedin"></i>
<p><a href="https://www.linkedin.com/in/vargasraquel">/vargasraquel</a></p>
</div>

<div class="card">
<i class="fab fa-instagram"></i>
<p><a href="https://instagram.com/raquelvargas">/raquelvargas</a></p>
</div>
</div>