---
title: Hi, I'm Raquel Vargas
layout: "base.njk"
eleventyNavigation:
  key: Home
  order: 100
---


<p>Hi, my name is Raquel Vargas, I'm a designer in a career transition to front-end development. I'm passionate about creativity, learning and social justice.</p>