---
title: Hi, I'm Raquel Vargas
layout: "base.njk"
eleventyNavigation:
  key: Home
  order: 100
---

<h1 style="font-size:4.5rem">{{ title }}</h1>

<p>Hi, my name is Raquel Vargas, I'm a Brazilian designer turned front-end developer. I'm passionate about creativity, learning and social justice.</p>

<p>I believe tech <strong>needs</strong> more diversity and I want to help people of color to get in this space.</p>